[submodule "skills/visual-explainer"]
	path = skills/visual-explainer
	url = git@github.com:nicobailon/visual-explainer.git
[submodule "taste-skill"]
	path = taste-skill
	url = git@github.com:Leonxlnx/taste-skill.git
[submodule "anthropics-skills"]
	path = anthropics-skills
	url = git@github.com:anthropics/skills.git
